* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
    text-align: center;
}

body {
    margin: 0;
}

.left {
    width: 70%;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 70px;
    padding-top: 30px;
}

.right {
    width: 30%;
    float: right;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 30px;
}

.right a {
    margin: auto;
    text-align: center;
    display: block;
}

.links-div {
    margin: auto;
    text-align: center;
}

.links-left {
    padding: 10px 50px;
    background-color: green;
    color: white;
    margin: 5px 40px;
    text-decoration: none;
    font-size: 20px;
    height: 42px;
    width: 160px;
}

.links-div a:hover {
    background-color: #006800
}

.links-middle {
    padding: 10px 50px;
    background-color: green;
    color: white;
    margin: 5px 40px;
    text-decoration: none;
    font-size: 20px;
    height: 42px;
    width: 160px;
}

.links-right {
    padding: 10px 50px;
    background-color: green;
    color: white;
    margin: 5px 40px;
    text-decoration: none;
    font-size: 20px;
    height: 42px;
    width: 160px;
}

.title {
    padding: 50px 30px;
    background-color: green;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
}

.footer {
    bottom: 0;
    position: fixed;
    margin: auto;
    padding: 10px 10px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
}